<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landing Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .carousel-slide {
            transition: transform 0.5s ease-in-out;
        }
    </style>
</head>
<body class="bg-gray-100">
<%- include('components/navbar')%>
<%- include('components/carousel')%>
<%- include('components/card')%>
<%- include('components/footer')%>
</body>
</html>